@import url('https://fonts.googleapis.com/css2? family= Playfair+Display:wght@400;700 & family= Poppins:wght@400;700 & display=swap');

 :root {
     --text-black: black;
     --text-white: white;
     --background-header: black;
     --background-white: white;
     --text-cinza: #606060;
     
     --fonte-principal:'poppins', sans-serif;
     --fonte-secundaria: 'Playfair Display', sans-serif;
 }

*{
    font-family: var(--fonte-secundaria);
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    min-width: 700px;
}

body{
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
background-color:var(--background-white);
color: var(--text-black);
}

ol{
 margin-top: 20px;
}

li span{
font-weight: 700;

}
h1#principal{
 font-family: var(--fonte-principal);
 text-align: center;
}

h2{
 margin: 20px 0px 20px 0px;
 font-size: 20pt;
 color: var(--text-black);
 text-align: justify;
}

.cabecalho{
 color: var(--text-white);
 width: 1500px;
 background-color: var(--background-header);
 padding: 5px;
 display: flex;
 flex-direction: column;
 align-items: center;
}

.corpo{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    justify-items: auto;
}

.cabecalho{
 border-bottom: 1px #606060 solid;
 height: 50px;
}

p{
 margin: 20px 0px;
 max-width: 680px;
 font-family: var(--fonte-secundaria);
 font-size: 15px;
 text-align: justify;
 text-indent: 5px;
}

main ul.cuidados{
 font-size: 15px;
 text-align: justify;
 text-decoration: none;  
}

.sites {
 font-size: 12px;
 justify-content: center;
 text-decoration: none;
 text-decoration: underline;
}
    
.corpo {   
 padding: 40px 80px;
 text-align: justify;
 width: 1500px;
 background-color:var(--background-white);
 box-shadow: 0px 0px 10px rgba(0,0,0,.5);
}  

.conteudo {
 color:var(--text-cinza);
    }

ol{
    display: flex;
    flex-direction: column;
}
